*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  height: 100%;
  font-size: 16px;
}
header {
  height: 10%;
  width: 100%;
  display: flex;
  background-color: gray;
}
header figure {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
}
@media (min-width: 700px) {
  header figure {
    width: 10%;
  }
}
header figure img {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.25rem;
  border: 1px red solid;
}
@media (min-width: 700px) {
  header p {
    width: 90%;
  }
}
main {
  height: 100%;
}
main .wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 700px) {
  main .wrapper {
    height: 100%;
  }
}
main .wrapper #introduction {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border: 1px blue solid;
}
main .wrapper #introduction h1 {
  padding: 1rem 0;
  text-align: center;
}
main .wrapper #introduction p {
  padding: 0.5rem 1.5rem;
}
main .wrapper #introduction ol {
  list-style: none;
}
main .wrapper #introduction li {
  padding: 0.25rem 1.5rem;
}
@media (min-width: 700px) {
  main .wrapper #introduction {
    width: 50%;
    height: 100%;
  }
}
main .wrapper #calculators {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border: 1px green solid;
}
main .wrapper #calculators .title {
  width: 90%;
  display: flex;
  background-color: gray;
  padding: 1rem 0;
}
main .wrapper #calculators .title .heading {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 0.5rem;
  color: white;
}
main .wrapper #calculators .title .caret {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
main .wrapper #calculators .calculator-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  color: black;
}
main .wrapper #calculators .calculator-container form {
  width: 90%;
  margin: 1.5rem 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}
main .wrapper #calculators .calculator-container form .grid {
  width: 100%;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: none;
}
main .wrapper #calculators .calculator-container form .button {
  font-size: 1rem;
  font-weight: bold;
  background-color: gray;
  color: black;
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
}
main .wrapper #calculators .calculator-container form .reset {
  font-size: 1rem;
  font-weight: bold;
  background-color: gray;
  color: black;
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  font-size: 0.75rem;
}
@media (min-width: 700px) {
  main .wrapper #calculators .calculator-container form {
    width: 48%;
    margin-left: 2%;
  }
}
main .wrapper #calculators .calculator-container figure {
  width: 90%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  main .wrapper #calculators .calculator-container figure {
    width: 48%;
    margin-left: 2%;
  }
}
@media (min-width: 700px) {
  main .wrapper #calculators {
    width: 50%;
    height: 100%;
  }
}
.spacing-left {
  margin-left: 0.25rem;
}
