:root {
    --container-bg-color: #E4DEAE;
    --font-color: #133A1B;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(imgs/bg.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

main {
    margin: 0 25px;
}

.container {
    margin: 25px auto;;
    padding: 10px;
    background-color: var(--container-bg-color);
    border: none;
    border-radius: 10px;
}

.calc-container {
    max-width: 325px;
}

#main-header {
    text-align: center;
    padding: 10px;
}

#sponsor {
    font-weight: bold;
    padding: 10px 0;
}

#section-header {
    text-align: center;
    max-width: 600px;
    padding: 10px;
}

#section-header p {
    margin-top: 10px;
}

#flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.calc-title {
    text-align: center;
    padding: 10px 0;
}

td {
    line-height: 24px;
}

.align-right {
    text-align: right;
}

.align-right label {
    margin-right: 10px;
}

.padded-left {
    padding-left: 10px;
}

input[type=number] {
    width: 100px;
}

/*input[type=text] {
    width: 100px;
}*/

input[type=submit] {
    margin-top: 10px;
    width: 100px;
    background-color: var(--font-color);
    color: #f3f3f3;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.clear {
    margin-top: 10px;
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 4px;
}