/*Imported font families from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap');

:root {
    --container-bg-color: #ececec;
    --font-color: #133A1B;
    --title-font: 'Lato', sans-serif;
    --text-font: 'Merriweather', serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(imgs/bg.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

main {
    margin: 0 25px;
}

h1, h2, h3 {
    font-family: var(--title-font);
    color: var(--font-color);
}

p {
    font-family: var(--text-font);
}

label {
    font-family: var(--text-font);
    font-size: 13px;
}

hr {
    width: 70%;
    margin: 0px auto 20px auto;
}

.container {
    max-width: 850px;
    margin: 25px auto;
    padding: 10px;
    background-color: var(--container-bg-color);
    border: none;
    border-radius: 10px;
}

.calc-container {
    max-width: 375px;
    min-width: 350px;
    max-height: 225px;
    overflow-y: scroll;
}

#main-header {
    text-align: center;
    padding: 10px;
}

#sponsor {
    font-weight: bold;
    padding: 15px 0;
}

#section-header {
    text-align: center;
    max-width: 600px;
    padding: 10px;
}

#section-header h2 {
    padding: 15px 0;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.calc-title {
    text-align: center;
    padding: 15px 10px;
}

.align-right {
    text-align: right;
    padding-right: 10px;
}

.padded-left {
    padding-left: 10px;
}

input[type=number], input[type=text] {
    width: 95px;
}

input[type=submit] {
    margin-top: 10px;
    width: 100px;
    background-color: var(--font-color);
    color: #f3f3f3;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.clear {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 75px;
    background-color: var(--font-color);
    color: #f3f3f3;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border: none;
    margin-top: 5px;
}

footer {
    width: 100%;
    background-color: var(--font-color);
    color: #f3f3f3;
    padding: 20px 0;
}

#phone, #globe {
    display: inline;
    padding-left: 10px;
}

#globe {
    text-decoration: none;
    color: #f3f3f3;
}